language: go
go: 1.5
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
install:
  - export PATH=$PATH:${GOPATH%%:*}/bin:${GOPATH##:*}/bin

  - go get -t github.com/goaltools/contrib/... # Getting the dependencies for the repo.
script:
  - cd ${GOPATH%%:*}/src/github.com/goaltools/contrib
  - COVERALLS="-service=travis-ci -repotoken $COVERALLS_TOKEN" ./coverage.sh
